@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.btn{
  position: fixed;
  top: 15px;
  left: 45px;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #1b1b1b;
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.4s ease;

}
.btn.click{
  left: 260px;
}
.btn span{
  color: white;
  font-size: 28px;
  line-height: 45px;
}
.btn.click span:before{
  content: '\f00d';
}
.sidebar{
  position: fixed;
  width: 250px;
  height: 100%;
  left: -250px;
  background: #1b1b1b;
  transition: left 0.4s ease;
}
.sidebar.show{
  left: 0px;
}
.sidebar .text{
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #1e1e1e;
  letter-spacing: 1px;
}
nav ul{
  background: #1b1b1b;
  height: 100%;
  width: 100%;
  list-style: none;
}
nav ul li{
  line-height: 40px;
  border-top: 1px solid rgba(255,255,255,0.1);
}
nav ul li:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
nav ul li a{
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}
nav ul li.active a{
  color: cyan;
  background: #1e1e1e;
  border-left-color: cyan;
}
nav ul li a:hover{
  background: #1e1e1e;
}
nav ul ul{
  position: static;
  display: none;
}
nav ul .feat-show.show{
  display: block;
}
nav ul .serv-show.show1{
  display: block;
}
nav ul ul li{
  line-height: 30px;
  border-top: none;
}
nav ul ul li a{
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 80px;
}
nav ul li.active ul li a{
  color: #e6e6e6;
  background: #1b1b1b;
  border-left-color: transparent;
}
nav ul ul li a:hover{
  color: cyan!important;
  background: #1e1e1e!important;
}
nav ul li a span{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}
nav ul li a span.rotate{
  transform: translateY(-50%) rotate(-180deg);
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #202020;
  z-index: -1;
  text-align: left;
}
.content .header{
  font-size: 45px;
  font-weight: 600;
}
.content p{
  font-size: 30px;
  font-weight: 500;
}
.form-box{
	position: relative;
	background: #fff;/*Colour*/
  margin-left: 100px;
  margin-right: 100px;
  width: 1080px;
  z-index:-1;
}
.logo{
  margin-left: 35px;
}
.left-header{
  font-size: 24px;
  margin-top: 10px;
  margin-left: 30px;
  width: 200px;
  border-bottom: 2px solid #034F71;
}
.left2{
  margin-left: 30px;
  margin-top: 5px;
  font-size: 14px;
  width: 600px;
}
.Read{
  margin-top: -200px;
  margin-left: 350px;
  color: black;
  text-decoration: none;
  font-size: 14px;
}
.right{
  margin-left: 850px;
  font-size: 24px;
  margin-top:-150px;
  width: 200px;
  border-bottom: 2px solid #034F71;
  text-align: right;
}
.map{
  margin-left: 750px;
  margin-top: 20px;
}
.enquirybox{
  margin-left: 125px;
  margin-top: -18px;
}
.submit{
  margin-left: 130px;
  background: #ddd;
  width: 70px;
}
.reset{
    width: 70px;
    margin-left: 20px;
    background: #ddd;
}
.right-enquiry{
  margin-left: 850px;
  font-size: 24px;
  width: 200px;
  border-bottom: 2px solid #034F71;
  text-align: right;
  margin-top: -490px;
}
.form-box-enquiry{

  	position: relative;
  	background: #fff;/*Colour*/
    margin-left: 100px;
    margin-right: 100px;
    width: 1080px;
    z-index:-1;
}
.right-careers{
    margin-left: 850px;
    font-size: 24px;
    width: 200px;
    border-bottom: 2px solid #034F71;
    text-align: right;
    margin-top: -433px;
}

.form-box-profile{

  	position: relative;
  	background: #fff;/*Colour*/
    margin-left: 100px;
    margin-right: 100px;
    width: 1080px;
    z-index:-1;
}
.right-profile{
    margin-left: 850px;
    font-size: 24px;
    width: 200px;
    border-bottom: 2px solid #034F71;
    text-align: right;
    margin-top: -725px;
}

.form-box-services{

  	position: relative;
  	background: #fff;/*Colour*/
    margin-left: 100px;
    margin-right: 100px;
    width: 1080px;
    z-index:-1;
}
.right-services{
    margin-left: 850px;
    font-size: 24px;
    width: 200px;
    border-bottom: 2px solid #034F71;
    text-align: right;
    margin-top: -1622px;
}
.ul{
  margin-left: 70px;
}
.form-box-vision{

  	position: relative;
  	background: #fff;/*Colour*/
    margin-left: 100px;
    margin-right: 100px;
    width: 1080px;
    z-index:-1;
}
.right-vision{
    margin-left: 850px;
    font-size: 24px;
    width: 200px;
    border-bottom: 2px solid #034F71;
    text-align: right;
    margin-top: -250px;
}

.form-box-directors{

  	position: relative;
  	background: #fff;/*Colour*/
    margin-left: 100px;
    margin-right: 100px;
    width: 1080px;
    z-index:-1;
}
.right-directors{
    margin-left: 850px;
    font-size: 24px;
    width: 200px;
    border-bottom: 2px solid #034F71;
    text-align: right;
    margin-top: -625px;
}
.md{
  width: 550px;
}

.left-header-reg{
  font-size: 24px;
  margin-top: 10px;
  margin-left: 30px;
  width: 400px;
  border-bottom: 2px solid #034F71;
}

.right-regional{
    margin-left: 850px;
    font-size: 24px;
    width: 200px;
    border-bottom: 2px solid #034F71;
    text-align: right;
    margin-top: -645px;
}
.right-team{
    margin-left: 850px;
    font-size: 24px;
    width: 200px;
    border-bottom: 2px solid #034F71;
    text-align: right;
    margin-top: -435px;
}
.right-quality{
    margin-left: 850px;
    font-size: 24px;
    width: 200px;
    border-bottom: 2px solid #034F71;
    text-align: right;
    margin-top: -183px;
}
.right-focus{
    margin-left: 850px;
    font-size: 24px;
    width: 200px;
    border-bottom: 2px solid #034F71;
    text-align: right;
    margin-top: -403px;
}
